.header {
    margin: 0px;
    padding: 15px;
    max-width: 80vw;
    height: 20vh;
    display: grid;
    grid-template-rows: 1fr 1.25fr;
    box-shadow: 0px -1px 8px 1px rgba(0,0,0,0.4);
}

.header .top {
    display: grid;
    grid-template-columns: var(--icon-size) 50vw var(--icon-size) 70px 1fr;
    grid-column-gap: 10px;
    align-items: center;
}

.top #top-logo-container {
    display: flex;
    justify-content: center;
}

.header .bottom {
    display: grid;
    grid-template-columns: 80px 2fr 1fr;
    align-items: center;
}

.header .bottom .btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.header .bottom button {
    background-color: var(--primary-color);
    color: white;
    padding: 25px;
    padding-bottom: 15px;
    padding-top: 15px;
    border: 2px solid rgba(0,0,0,0);
    border-radius: 80px;
    font-weight: 800;
}

.header .top #search-bar {
    height: 30%;
    border-radius: 100px;
    max-width: 40vw;
    padding-left: 20px;
}

.header .bottom #logo {
    width: 70px;
    height: 70px;
}

.header .bottom #text-container {
    display: flex;
    flex-direction: column;
    padding-left: 8px;
}