.main, .main * {
    margin: 0px;
    padding: 0px;
}
.main {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80vw;
}

#big-title {
    font-size: 1.4rem;
    font-weight: 700;
}

/*Left side*/
.main .projects {
    width: 70vw;
}

.projects .card-container {
    display: grid;
    /*grid-template-columns: repeat(auto-fit, 1fr);*/
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: var(--main-spacing);
    row-gap: var(--main-spacing);
    padding: var(--main-spacing);
}

.card-container .cards {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.cards .card-icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.projects .big-title-class {
    padding-left: var(--main-spacing);
}

/*Right side*/
.main .extra-info {
    width: 30vw;
}

.announcements,
.trending {
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
}

.trending .handle {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: var(--main-spacing);
}

.trending .handle div {
    display: flex;
    flex-direction: column;
}

.announcements .cards {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}
