.card-container {
    overflow: wrap;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: var(--main-gap);
    row-gap: var(--main-gap);
}

.main {
    margin: 0px;
    width: 80vw;
    height: clamp(20vh, 60%, 80%); /*Buggy*/
    padding: 10px;
    display: flex;
    gap: var(--main-gap);
    justify-content: flex-start;
}


.main .right {
    display: flex;
    flex-direction: column;
    width: 20vw;
}

.main .projects {
    width: 80vw;
}