.sidebar {
    display: grid;
    overflow: auto;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-row: 100vw;
    gap: 5px;
    width: 20vw;
}

.sidebar img {
    margin-right: 10px;
}

.sidebar > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}