* {
    border: 1px solid blue;
}

:root {
    margin: 0px;
    padding: 0px;
    /*Variables*/
    --icon-size: 40px;
    --main-gap: 20px;
}

#icon {
    width: var(--icon-size);
}

body {
    display: flex;    
    margin: 0px;
    padding: 0px;
}
