* {
    border: 1px solid blue;
}

:root {
    --icon-size: 30px;
    --main-spacing: 10px;
}

body { 
    display: flex;
    min-height: 100%;
    margin: 0px;
    padding: 0px;
}

#icon {
    width: var(--icon-size);
}
